#app__navbar {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  background-color: rgb(55 55 55 / 65%);
  position: fixed;
  z-index: 2;
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    width: 20%;
    height: 20%;
    cursor: pointer;

    @media screen and (min-width: 2000px) {
      width: 180px;
      height: 40px;
    }

    @media screen and (min-width: 900px) and (max-width: 1020px) {
      width: 40%;
      height: 40%;
    }
  }
}

.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;

  li {
    margin: 0 1rem;
    cursor: pointer;
    flex-direction: column;

    div {
      width: 5px;
      height: 5px;
      background: transparent;
      border-radius: 50%;
      padding-bottom: 5px;
    }

    a {
      color: var(--white-color);
      text-decoration: none;
      flex-direction: column;
      text-transform: uppercase;
      font-weight: 500;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: var(--secondary-color);
      }
    }

    &:hover {
      div {
        background: var(--secondary-color);
      }
    }
  }

  @media screen and (max-width: 900px) {
    display: none; // hide desktop nav on mobile
  }

  @media screen and (max-width: 1310px) {
    margin-right: 50px;
  }
}

.app__navbar-menu {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;

  display: none; // hidden by default (desktop)
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  margin-right: 25px;
  cursor: pointer;
  z-index: 10;

  svg {
    width: 70%;
    height: 70%;
    color: var(--white-color);
  }

  div {
    position: fixed;
    top: 80px;
    right: 0;
    z-index: 1000;

    padding: 1rem;
    width: 300px;
    min-height: 200px;
    max-height: 80vh;

    @media screen and (min-width: 900px) {
      width: 250px;
      min-height: 150px;
    }

    @media screen and (max-width: 600px) {
      width: 80%;
      top: 0;
      height: 100vh;
    }

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    background-color: var(--black-color);
    opacity: 0.9;
    box-shadow: 0px 0px 20px rgba(168, 168, 168, 0.15);

    svg {
      width: 35px;
      height: 35px;
      color: var(--white-color);
      margin: 0.5rem 1rem;
      align-self: flex-end;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;

      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;

      li {
        margin: 0.5rem 1rem;
        cursor: pointer;

        a {
          color: var(--white-color);
          text-decoration: none;
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 500;
          transition: all 0.3s ease-in-out;

          &:hover {
            color: var(--secondary-color);
          }
        }
      }
    }
  }

  /* Show hamburger only on mobile */
  @media screen and (max-width: 900px) {
    display: flex;
  }
}
